@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #e5dbd0;
}

body > .ember-view {
  height: 100%;
}

#little-professor {
  position: relative;
  height: 100%;
  min-width: 320px;
  min-height: 480px;
}

@media screen and (min-width: 540px) {
  #little-professor {
    margin-top: 20px;
    width: 375px;
    height: 667px;
    margin-left: auto;
    margin-right: auto;
  }
}

#main {
  height: 85%;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("/images/little-professor-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#buttons {
  height: 50%;
  clear: both;
  font-family: sans-serif;
  padding: 5% 10% 10% 10%;
  position: relative;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button-row {
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

#buttons .button-row .button-item {
  float: left;
  display: inline;
  width: 25%;
  text-align: center;
  font-weight: bold;
}

button {
  width: 60%;
  background-color: #ffd541;
  border: none;
  border-radius: 4px;
  height: 1.5em;
}

.display {
  height: 15%;
  background-color: #ba0c18;
  color: #fcd9e9;
  text-align: center;
  position: relative;
  font-family: monospace;
  font-size: 1.5em;
  font-weight: 600;
}

.display-characters {
  position: absolute;
  top: 30px;
  text-align: center;
  width: 100%;
}

#face {
  height: 35%;
}

#product-name {
  font-family: sans-serif;
  font-size: 14px;
  position: absolute;
  bottom: 8px;
  text-align: center;
  width: 100%;
  font-weight: normal;
  color: white;
}

.button-label {
  margin-bottom: 5px;
  font-size: 1.2em;
}

.display-character {
  width: 20px;
  display: inline-block;
}
